.titulo_header {
  font-size: 5rem;
  font-weight: 700;
  margin: 1rem;
  text-align: center;
}

.titulo_header span {
  color: var(--blue);
}

@media (min-width: 650px){
  .titulo_header{
    margin: 3rem;
  }
}