.lista_clientes {
  box-shadow: .2rem .2rem .5rem var(--black);
  border: .1rem solid var(--blue);
  margin:.5rem;
  padding: .5rem;
  font-size: 2rem;
}

.title_pacientes{
  font-size: 2.8rem;
  color: var(--blue);
  margin-top: 1rem;
}

.p_pacientes {
  font-weight: 700;
}
.p_pacientes span{
  color: var(--blue);
}
